.msg {
  position: absolute;
  margin-top: 20px;

  &-text {
  font-family: 'Press Start 2P', Arial, sans-serif;
    color: #FFF;
    top: 220px;
    left: 65px;
    width: 550px;
    font-size: .9em;
  }
}

.section {
  color: #333;
  display: block;
  font-weight: bold;
}

textarea {
  border: 2px solid #EFEFEF;
  width: 100%;
  height: 150px;
}

.select {
  margin-top: 30px;
}

